.container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 0.9em;
}

.list {
  display: flex;
  padding: 0 10px;
}

.dots {
  padding: .2em .35em;
}

@media (max-width: 480px) {
  .dots {
    padding: .2em .2em;
  }
}
