#RewriteEngine On
#RewriteBase /
#RewriteCond %{HTTP:X-HTTPS} !1
#RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]

RewriteEngine On
RewriteCond %{SERVER_PORT} !^443$
RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

Redirect 301 "xvost-drakona-uprazhnenie-s-girej-na-press/" "/post/xvost-drakona-uprazhnenie-s-girej-na-press/"
