@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap&subset=cyrillic');

@font-face {
  font-family: 'Handel Gothic';
  src: url('/static/fonts/HandelGothicRegular.ttf') format('opentype');
}


body {
  margin: 0;
  font-family: Roboto, 'sans-serif';
  font-size: 18px;
  line-height: 1.6;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1 {
  font-size: 2em;
  line-height: 1.15;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

a {
  //color: #ea0000;
  color: #e24242;
  text-decoration: underline;
  transition: color .15s ease-out;
  &:hover {
    color: #333;
  }
}

p {
  margin: 1.33em 0;
}

