.container {
  display: flex;
  flex-wrap: wrap;
  border-top: solid 1px #ccc;
  border-left: solid 1px #ccc;
  box-sizing: border-box;
}

.title {
  font-weight: 400;
}

.item {
  max-width: 14.28%;
  flex: 1 1 14.28%;
  padding: 7px;
  border-right: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  box-sizing: border-box;
  &_weekend {
    background: #f5f5f5;
  }
}

.dateWrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.date {
  font-size: 0.75em;
}

.linkWrap {
  display: flex;
  font-size: 0.85em;
}

.link {
  background: #9B9FA3;
  color: #fff;
  display: block;
  transition: background .15s ease-out;
  padding: 3px 8px;
  border-radius: 2px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  &:hover {
    background: #ea0000;
    color: #fff;
  }
}

.empty {
  color: #ccc;
}
