.button {
  display: block;
  padding: .35em;
  background: none;
  border: none;
  outline: none;
  font-size: 1em;
  cursor: pointer;
  transition: opacity .15s ease-out;

  &:hover {
    opacity: 0.6;
  }
}

.icon {
  pointer-events: none;
  display: block;
  width: 1em;
  height: 1em;
}
