.container {
  padding-bottom: 15px;
  margin-bottom: 15px;
  position: relative;
  transition: background .2s ease-out;
  border-radius: 2px;
  display: flex;
  align-items: center;

  &:not(:last-child) {
    border-bottom: 1px solid #dee2e6;
  }

  &.mob {
    & .title {
      font-size: 1.2em;
      width: 100%;
      margin-bottom: 0.25em;
    }
  }
}

.content {
  flex: 1 1 auto;
  width: 1%;
}

.titleLine {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.title {
  margin: 0 8px 0 0;
  font-size: 1.2em;
  line-height: 1.33;
  flex: 1 1 auto;
  width: 1%;
  & a {
    text-decoration: none;
    color: inherit;
    &:hover {
      color: #e24242;
    }
  }
}

.action {
  display: flex;
  align-items: center;
  font-size: 0.9em;
  text-decoration: none;
  & span {
    margin-right: 5px;
  }

  &:hover {
    text-decoration: none;
    color: #e24242;
    & .arrowIcon {
      transform: rotate(-90deg) translateY(7px);
    }
  }
}

.arrowIcon {
  display: block;
  margin-top: 1px;
  transform: rotate(-90deg);
  transition: transform .15s ease-out;
}
