.container {
  background: #f7f7f7;
  padding: 17px 15px;
  margin-bottom: 30px;
  position: relative;
  transition: background .2s ease-out;
  text-decoration: none;
  display: block;
  color: inherit;
  border-radius: 2px;
  overflow: hidden;
  &:hover {
    text-decoration: none;
    color: inherit;

    & .arrowIcon {
      transform: rotate(-90deg) translateY(7px);
    }

    & .img {
      transform: scale(1.075);
    }
  }
}

.date {
  margin-bottom: 10px;
  color: #e24242;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transition: transform .25s ease-out;
}

.title {
  margin: 0 0 10px;
  //font-size: 1.5em;
  font-weight: 400;
  line-height: 1.33;
}

.action {
  display: flex;
  align-items: center;
  font-size: 0.9em;
  margin-top: 10px;

  & span {
    margin-right: 5px;
  }
}

.arrowIcon {
  display: block;
  margin-top: 1px;
  transform: rotate(-90deg);
  transition: transform .15s ease-out;
}
