.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  padding: 30px 0;
  flex: 1 1 auto;
  height: 1%;
}

.inner {
  display: flex;
}

.content {
  flex: 1 1 auto;
  width: 1%;
}

.sidebar {
  width: 300px;
  margin-left: 30px;
}
