.item {
  margin-right: 5px;
  &Active {
    & .link {
      color: #333;
      border-color: #333;
    }
  }
  &:last-child {
    margin-right: 0;
  }
}

.link {
  color: #e24242;
  text-decoration: none;
  display: block;
  padding: .2em .5em;
  border-bottom: solid 2px transparent;
}

@media (max-width: 480px) {
  .link {
    padding: .2em .3em;
  }
}
