body {
  margin: 0;
  font-family: Roboto, 'sans-serif';
  font-size: 18px;
  line-height: 1.6;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1 {
  font-size: 2em;
  line-height: 1.15;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

a {
  //color: #ea0000;
  color: #e24242;
  text-decoration: underline;
  transition: color .15s ease-out;
  cursor: pointer;
}

a:hover {
  color: #333;
}

p {
  margin: 1.33em 0;
}

blockquote {
  font-style: italic;
  border-left: solid 3px #333;
  margin-left: 0;
  padding-left: 1em;
}

blockquote cite {
  color: #9B9FA3;
}

figure {
  margin: 1.33em 0;
}

figure img {
  display: block;
}

figcaption {
  background: #f4f4f4;
  margin-top: 0;
  font-style: italic;
  color: #9B9FA3;
  padding: 0.5em 1em;
  font-size: 0.85em;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
