.container {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0 15px;
  box-sizing: border-box;
  margin-bottom: 30px;
  & :global(.widget-shop) {
    background-color: #000 !important;
  }
}

.title {
  font-size: 0.85em;
  margin: 0 0 0.75em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

@media (max-width: 768px) {
  .container {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 540px) {
  .container {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
