.container {
  background: #000;
  color: #fff;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.left {
  display: flex;
  align-items: center;
}
