.container {
  background: #000;
  color: #fff;
  position: relative;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.left {
  display: flex;
  align-items: center;
}

.enter {
  height: 0;
}

.enterActive {
  height: 55px;
}

.exit {
  height: 55px;
}

.exitActive {
  height: 0;
}

.mobileWrapper {
  display: flex;
  align-items: center;
}
