.sidebar {
  width: 300px;
  padding-bottom: 15px;
  &.fixedTop {
    position: fixed;
    top: 15px;
    transform: translateZ(0);
  }
  &.fixedBottom {
    position: fixed;
    bottom: 0;
    transform: translateZ(0);
  }
}
