.sidebar {
  width: 300px;
  padding-bottom: 15px;
  &.fixedTop {
    position: fixed;
    top: 15px;
    transform: translateZ(0);
  }
  &.fixedBottom {
    position: fixed;
    bottom: 0;
    transform: translateZ(0);
  }
}

.widget {
  background: #f4f4f4;
  border-radius: 3px;
  margin-bottom: 30px;
  height: 400px;
  font-size: 20px;
  box-sizing: border-box;
  padding: 15px;
  color: #9B9FA3;
}
