.container {
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0 10px 0 0;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.item {
  position: relative;
  & > div {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
  }
  &:hover {
    & > div {
      opacity: 1;
      pointer-events: inherit;
      transform: translateY(0px);
    }
  }
}

.link {
  padding: 0.75em 1em;
  letter-spacing: 0.1em;
  font-weight: 500;
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;

  &:hover {
    text-decoration: none;
    color: #ea0000;

    & .icon path {
      fill: #ea0000
    }
  }

  & span {
    margin-right: 0.35em;
  }
}

.icon {
  display: block;
  margin-top: 0.1em;
  & path {
    transition: fill .15s ease-out;
  }
}
