.container {
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0 10px 0 0;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.item {
  position: relative;
}

.link {
  display: block;
  padding: 0.75em 1em;
  letter-spacing: 0.1em;
  font-weight: 500;
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: #ea0000;
  }
}
