.title {
  margin-top: 0;
  margin-bottom: 10px;
}

.imgWrapper {

}

.img {
  width: 100%;
  display: block;
}

.info {
  font-size: 0.75em;
  margin-bottom: 25px;
}

.date {
  color: #9B9FA3;
  display: block;
}
