.container {
  & :global(.wp-caption) {
    max-width: 100%;
    & img {
      max-width: 100%;
      height: auto;
    }
  }
}

.title {
  margin-top: 0;
  margin-bottom: 10px;
}

.imgWrapper {

}

.img {
  width: 100%;
  display: block;
}

.info {
  margin-bottom: 25px;
}
