.wrapper {
  position: absolute;
  top: 15px;
  left: 20px;
  bottom: 15px;
  width: 50px;
}

.container {
  display: flex;
  align-items: center;
  width: 50px;
  height: 100vh;

  &.fixedTop {
    position: fixed;
    top: 0;
    transform: translateZ(0);
  }

  &.fixedBottom {
    position: fixed;
    bottom: 0;
    transform: translateZ(0);
  }
}
